.mainmenu {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  margin: 1.25em;
  padding: 1.25em;
}

.mainmenu__main-links {
  display: flex;
  flex-flow: column nowrap;
  flex: 4;
}

.mainmenu__carb {
  align-items: center;
  color: #fff;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1.2em;
  text-decoration: none;
  width: 100%;
}

.mainmenu__carb:hover {
  outline: 0.0625em solid #000;
}

.carbcalc__logo {
  width: 5em;
}

.mainmenu__dosage {
  align-items: center;
  color: #fff;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  margin-top: 1.875em;
  justify-content: center;
  padding: 1.2em;
  text-decoration: none;
  width: 100%;
}

.mainmenu__dosage:hover {
  outline: 0.0625em solid #000;
}

.dosecalc__logo {
  width: 5em;
}

.mainmenu__settings {
  align-items: center;
  color: #fff;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
  margin:1.25em 0 0.5em 0;
  padding: 1.2em;
  text-decoration: none;
}

.mainmenu__settings:hover {
  outline: 0.0625em solid #000;
}

.settings__logo {
  width: 5em;
}

.app-version {
  align-self: center;
  font-size: 0.5em;
  margin-bottom: -1.5em;
}

@media only screen and (min-width: 30em) {
  
  .mainmenu__main-links {
    flex-flow: row nowrap;
  }

  .mainmenu__carb {
    margin-right: 0.625em;
  }

  .mainmenu__dosage {
    margin: 0 0 0 0.625em;
  }   

  .mainmenu__settings {
    align-self: center;
    width: 50%;
  }

  .mainmenu {
    font-size: 1.1em;
  }
  
}