.dosecalc {  
  align-items: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  font-size: 1.1em;
  justify-content: space-between;
  margin-bottom: 0.625em;  
}

.dosecalc__heading {
  font-size: 1.4em;
  text-align: center;
}

.glucose, .carb {
  background: #fff;
  padding: 0.625em;
  margin-bottom: 0.625em;
  width: 83.33%;
}

.glucose__heading {
  color: #05baf0;
  font-size: 1.2em;
  margin-bottom: 0.3125em;
}

.carb__heading {
  color: #3d994a;
  font-size: 1.2em;
  margin-bottom: 0.3125em;
}

.glucose__input-wrapper, .carb__input-wrapper { 
  align-items: flex-end;
  display: flex;
}

.glucose__input, .carb__input {
  font-size: 1em;
}

.glucose__unit, .carb__unit {
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  margin-left: 0.5em;
}

.dosage {
  align-items: flex-start;
  background: #fff;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0.625em;
  width: 83.33%;
}

.dosage-wrapper {
  display: flex;
  flex: 1 0;
  flex-flow: column nowrap;
}

.dosage__heading {    
  color: #e33663;
  font-size: 1.2em;
  justify-content: center;
  margin-bottom: 0.3125em;
}

.ratio__heading{
  color: #3d994a;
  margin-bottom: -0.375em;
  margin-top: 1em;
}

.dosage__result--ratioOneDP {
  color: #3d994a;
  font-size: 3em;
  font-weight: 700;
}

.correction__heading {
  color: #05baf0;
  margin-bottom: -0.375em;
}

.dosage__result--correctionOneDP {
  color: #05baf0;
  font-size: 3em;
  font-weight: 700;
}

.dosage__result--ratio, .dosage__result--correction {
  font-size: 0.6em;
}

.total__heading {
  color: #e33663;
  margin-bottom: -0.375em;
  margin-top: 1em;
}

.dosage__result--totalOneDP {
  color: #e33663;
  font-size: 4em;
  font-weight: 700;
}

.dosage__unit {
  font-size: 1em;
  font-weight: 700;
}

.result-wrapper {
  align-items: baseline;
  display: flex;
}

.total-wrapper {
  align-self: center;
  display: flex;
  align-items: baseline;
}

.dosage__result--total {
  font-size: 0.6em;
}

@media only screen and (min-width: 512px) {

  .dosage-wrapper {
    flex-flow: row nowrap;
  }

  .results-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-right: 1em;
  }

  .total {
    align-self: center;
  }

  .dosage__result--total {
    text-align: center;
  }

}